.container {
  width: 100%;
  padding: 10px;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.justify-center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text-xxl{
  font-size: xx-large;
}
.text-xl{
  font-size: x-large;
}
.text-lg{
  font-size: large;
}
.text-md{
  font-size: medium;
}
.text-sm{
  font-size: small;
}
.text-xs{
  font-size: x-small;
}
.mx-lg{
  margin: 0px 20px;
}
.mx-md{
  margin: 0px 10px;
}
.mx-sm{
  margin: 0px 5px;
}
.my-lg{
  margin: 20px 0px;
}
.my-md{
  margin: 10px 0px;
}
.my-sm{
  margin: 5px 0px;
}
.bot-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.bot-card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 300px;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  background-color: #f8f9fa;
  color: #000;
}
.bot-card img{
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  background-color: #f8f9fa;
}
.bot-card-wrapper {
  position: relative;
  display: inline-block;
}

.discharge-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
